    <title>Search Results</title>
    <%- include('./partials/headerWONav.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <link rel="stylesheet" href="/css/results.css">
  <body>
    <br>
    <div class="button-div">
      <button>
        <a href="/search">Search Again</a>
      </button>
    </div>
    <br>
    <% results.forEach(function(result, index) { %>
    <p class="results">
      <%= index + 1 %>: <b><%= result.gametitle %></b>
      <ul class="results">
        <li>
          Description: <%= result.description %>
        </li>
        <li> 
          In-store location: <%= result.instorelocation %>
        </li>
        <li>
          Price: $<%= result.price %>
        </li>
        <li>
          Genre: <%= result.genrename %>
        </li>
        <li>
          Platform: <%= result.consolename %>
        </li>
        <li>
          QOH: <%= result.quantity %>
        </li>

      </ul>
     
    </p>
    <hr />
    <% }); %>
  </body>
